<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.takeoutservice.category_goods_rel,order_info,user_info,user_address_info,order_goods_info,merchant_info,goods_info,category_info.mapper.OrderInfoMapper">

</mapper>
